:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/public/Our_products.png);
    background-size: cover;
    background-color: rgb(40, 40, 40);
    color: rgb(250, 238, 223);
}

#modal_window {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
}

#window {
  padding: 20px;
  background-color: rgb(25, 25, 25);
  border: 2px solid rgb(138, 15, 15);
  border-radius: 15px;
  color: rgb(250, 238, 223);
  text-align: center;
  width: 300px;
  box-shadow: 0 0 20px rgba(138, 15, 15, 0.6);
}

#window h2 {
  margin: 0;
  font-size: 22px;
  color: rgb(138, 15, 15);
}

#window p {
  margin: 10px 0;
  font-size: 16px;
}

.modal_inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

.modal_inputs input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgb(138, 15, 15);
  background-color: black;
  color: rgb(250, 238, 223);
  font-size: 14px;
}

.modal_inputs input::placeholder {
  color: rgb(180, 180, 180);
}

#errorMsg {
  color: rgb(255, 100, 100);
  height: 20px;
  font-size: 14px;
  margin-top: 10px;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 20px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    text-shadow:
    1px 1px 0 black,
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black;
}

header div:nth-child(1) {
    color: rgb(138, 15, 15);
    font-size: 30px;
    font-weight: bold;
}

header div:nth-child(2) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    font-size: 26px;
    margin-left: -20px;
    font-weight: bold;
}

header img {
    width: 32px;
}


#container_accounting {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    background-size: 520px;
    background-position: -50px 0px;
    background-repeat: no-repeat;
    margin-top: 20px;
    display: flex;
    gap: 40px;
    flex-direction: column;
    padding: 10px;
    color: rgb(250, 238, 223);
}

#container_accounting>div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#container_accounting input{
    width: 95%;
}

.headings {
    font-size: 20px;
    background-color:black;
    padding: 5px;
    border-radius: 5px;
}

.weight {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    gap: 20px;
}

.weight div {
    width: 100%;
}

.weight div:nth-child(1) input {
    background-color: black;
    padding: 10px;
    color: rgb(250, 238, 223);
    outline: brown;
    border: 2px solid rgb(138, 15, 15);
    border-radius: 10px;
}

.weight div:nth-child(1) input::placeholder {
    color: rgb(250, 238, 223);
}

.custom_select {
    width: 92%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: black;
    padding: 10px;
    color: rgb(250, 238, 223);
    outline: brown;
    border: 2px solid rgb(138, 15, 15);
    border-radius: 10px;
}
.custom_select span:nth-child(2) {
    display: block;
    height: 12px;
    color: rgb(138, 15, 15);
}

.select_option {
    display: none; /*! Скрываем кастомный селектор */
    position: absolute;
    z-index: 2;
    top: 50px;
    left: 25px;
    background-color: black;
    height: 240px;
    width: 400px;
    margin-left: -30px;
    overflow-Y: scroll;
}
.select_option li {
    cursor: pointer;
    padding: 2px;
}
.select_option li::marker {
    content: '';
}
.select_option li:hover {
    background-color: rgb(138, 15, 15)
}
.select_option::-webkit-scrollbar {
    background-color: rgb(138, 15, 15);
    background-color: rgb(250, 238, 223);
    border-radius: 10px;
}
.select_option::-webkit-scrollbar-track {
    width: 230px;
    cursor: pointer;
    border-radius: 20px;
}
.select_option::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 10px;
    background-color: black;
    border: 2px solid rgb(138, 15, 15);
}


.btn {
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(138, 15, 15);
    color: rgb(250, 238, 223);
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    color: rgb(138, 15, 15);
    background-color: transparent;
    box-shadow: 1px 1px 20px brown;

}

#saleMeat, #addMeat, #revisionMeat {
    /* width: 100%; */
    position: relative;
    /* display: inline-block; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: 1px solid white; */
}

#balance {
    border-collapse: collapse;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
}

#balance div{
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 1px solid brown;
}

#balance>div:nth-child(-n+4), #summary, #balance>div:nth-child(77){
    font-size: 16px;
    /* letter-spacing: 1px; */
    font-weight: bold;
}

#summary {
    grid-column: 1/5;
}

#footer {
    margin-top: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer div {
    font-size: 25px;
}